<p class="profile-right-p">Users:</p>
<ul class="potential-friends-list">
  <% potential_friends.each do |friend| %>
    <%= form_with url: friend_request_path, id: "potential-friends-form" do |f| %>
      <li class="row">
        <%= link_to "#{friend.username.truncate(25)}", "users/#{friend.username}", class: "col" %>
        <%= f.submit "Send", class: "request col" %>
      </li>
      <%= hidden_field_tag(:request_friend_id, friend.id) %>
    <% end %>
  <% end %>
</ul>
