<div>
<% unless @requests.nil? %>
  <%= render 'users/pending_requests', requests: @requests %>
<% end %>
</div>
<div class="all-users-list">
  <%= %>
</div>
<%= debug(@requests) unless @requests.nil? %>