
  <div id="pending-incoming-requests">
    <%= render 'pending_requests', requests: @requests %>
  </div>
  <div id="current-friends-list">
    <%= render 'friend_list', friends: @friends %>
  </div>

