<div>
<% unless @friend_requests.nil? %>
  <%= render 'users/pending_requests', friend_requests: @friend_requests %>
<% end %>
</div>
<div class="all-users-list">
  <%= %>
</div>
<%= debug(@friend_requests) unless @friend_requests.nil? %>