<% unless @requests.nil? || @requests.empty? %>
  <div>
    <%= render 'pending_requests', requests: @requests %>
  </div>
<% end %>
<% unless @friends.nil? || @friends.empty? %>
  <div>
    <%= render 'friend_list', friends: @friends %>
  </div>
<% end %>
<%= debug(@friends.empty?) %>