<div id="pending-incoming-requests">
  <% unless @requests.nil? || @requests.none? %>
    <%= render partial: 'pending_requests', locals: { requests: @requests } %>
  <% end %>
</div>
<div id="current-friends-list">
  <% unless @friends.nil? || @friends.none? %>
    <%= render partial: 'friend_list', locals: { friends: @friends } %>
  <% end %>
</div>

