<div id="pending-incoming-requests">
  <% unless @requests.nil? || @requests.empty? %>
    <%= render 'pending_requests', requests: @requests %>
  <% end %>
</div>
<div id="current-friends-list">
  <% unless @friends.nil? || @friends.empty? %>
    <%= render 'friend_list', friends: @friends %>
  <% end %>
</div>

