<div id="main-profile">
  <%= render partial: 'users/main_profile', locals: { user: @user } %>
</div>

<div id="posts-created">
  <% unless current_user.posts.empty? %>
    <%= render partial: 'users/user_posts', locals: { posts: @posts, user: @user } %>
  <% end %>
</div>

