<% if current_user.nil? %>
  <%# TODO FILL ME IN %>
<% else %>
  <h1>Index</h1>
  <p>NOT WORKING YET OBVIOUSLY</p>
<% end %>
<%= debug(current_user) %>
<%= debug(user_has_request?) unless current_user.nil? %>

