<%= button_to("Reset", boop_path) %>
<% if current_user.nil? %>
  <%# TODO FILL ME IN %>
<% else %>
  <%= render "posts/post_feed", posts: @posts %>
  <div class="post-modal-pop">
    <%= render "posts/post_modal", post: @posts.last %>
  </div>
<% end %>
