<div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p><%= post.body %></p>
        <p><%= "#{post.user.username} - #{distance_of_time_in_words(post.created_at, Time.now)} ago" %></p>
        <p class="like-button"><%= button_to("Like", post_likes_path(post.slug), remote: true,
                                             id: "btn-like") %></p>
        <p><%= debug(params) %></p>
      </div>
    </div>
  </div>
</div>

<%# TODO This page, like button has id to swap from like to dislike using JS %>