<p><small class="posted-by">
  Posted
  <%= "#{distance_of_time_in_words(post.created_at, Time.now)} ago by " %>
  <% if users_are_friends?(post.user) %>
    <%= link_to post.user.username, "users/#{post.user.username}", class: "users-are-friends" %>
  <% else %>
    <%= link_to post.user.username, "users/#{post.user.username}" %>
  <% end %>
</small></p>