<div class="post-list">
  <% posts.each do |post| %>
    <div class="post-content">
      <p><%= link_to post.body.truncate(50).titleize, post_path(post) %></p>
      <div class="posted-by">
        <p><small>Posted by
          <%= link_to post.user.username, user_profile_path(post.user) %>
          <%= "#{distance_of_time_in_words(post.created_at, Time.now)} ago" %></small></p>
        <p><small><%= "#{pluralize(post.likes.count, "like")}" %></small></p>
      </div>
    </div>
  <% end %>
</div>

<%# TODO this page %>