<div class="row">
  <%= render "likes_count_user_check", post: @post, is_liked: @is_liked %>
  <div class="post-title col-11">
    <%= @post.title %>
    <%= render "post_date_author", post: @post %>
  </div>
</div>
<div class="post-body">
  <%= @post.body %>
</div>

<div class="post-comments">
  <%# TODO comment box, e %>
  <p>COMMENTS GO HERE</p>
</div>
<%# TODO this page %>