/* Variables */

$navbar-links: white;
$navbar-links-hover: #AAA;
$navbar-links-hover-dark: #777;
$navbar-background-color-dark: #36393e;
$text-darker-grey: #586069;
$text-light-grey: #959da5;
$footer-border: #eaecef;
$comment-time-color: gray;

/* Header */
// Move page content below navbar

header {
  margin-bottom: 100px;
}

/* Navbar */

.dropdown-toggle, .navbar .navbar-nav a.nav-link {
  color: $navbar-links;
  &:hover {
    color: $navbar-links;
    text-decoration: none;
  }
}

.navbar .dropdown-menu {
  background-color: $navbar-links;
}

.navbar .dropdown-item {
  color: $navbar-background-color-dark;
  &:hover {
    background-color: $navbar-background-color-dark;
    color: $navbar-links
  }
}

.mail-icon {
  width: 20px;
  height: 20px;
  fill: $navbar-links;
}

.navbar-dark {
  background-color: $navbar-background-color-dark;
}

.nav-right-item {
  padding-left: 10px;
}

.navbar-brand {
  width: 152.4px;
  height: auto;
  margin: -7px 0;
}

nav .container-fluid {
  margin: 0;
  padding: 0;
  max-height: 40.5px;
}

/* Body */

.body-container {
  margin: 0 auto;
  max-width: 1280px;
}

/* Posts */

.post-content {
  padding-bottom: 1.25vh;
  padding-left: 0 !important;
  margin-left: -1vw;
  p {
    margin-bottom: -5px;
  }
}

.post-comments {
  padding-top: 7.5vh;
}

.posted-by {
  display: inline-block;
  p {
    margin-bottom: -10px;
  }
}

.post-list .likes-count {
  padding-top: 18px;
  padding-right: -15px;
  max-width: 80px;
}

#single-post-likes-count {
  padding-top: 1vh;
  max-width: 80px;
}

#btn-like, .btn-reply {
  border: none;
  background: none;
  outline: none;
}

.liked {
  fill: orangered;
}

.not-liked {
  fill: black;
}

.post-title {
  margin-left: -2vw;
}

.post-body {
  padding: 2vh 0 0 0;
}

#posts-created ul {
  padding-left: 0;
  list-style: none;
}

/* Comments */

#comment-field, #btn-comment-field {
  width: 50%;
}

#comment-field {
  height: 21vh;
  width: 30.5vw;
  resize: none;
}

#btn-comment-submit {
  float: left;
}

.comment-body {
  min-width: 100%;
}

.separator {
  margin-top: 8vh;
  border-top: 1px solid #87919a;
}

.comment-list .comment-ul {
  margin: 8vh 0 0 -3vw;
  li {
    list-style: none;
  }
}

.comment-poster {
  margin-bottom: 0;
}

.comment-poster-name {
  padding: 0 0.8vw 0 0 ;
}

.comment-post-time, .comment-buttons a {
  color: $comment-time-color;
}

.comment-buttons {
  margin-top: -2.3vh;
  word-spacing: 10px;
  margin-left: -7px !important;
  margin-bottom: 1.5vh;
  font-size: small;
}

.btn-reply {
  color: $comment-time-color;
}

/* User Profile */

#user-profile-info {
  margin-top: 10px;
  .profile {
    margin: auto 0 -4px 0;
  }
  .profile-small {
    font-size: small;
  }
}

#friend-list-aside, #profile-pokedex-aside {
  float: right
}

#friend-list-aside, #posts-created {
  margin-top: 75px;
}

.user-avatar {
  border-radius: 50%;
}

.friend-requests, .friends-list, .potential-friends-list {
  padding-left: 0;
  li {
    list-style: none;
  }

}

.friend-requests-list, .friend {
  padding: 1vh 0 1.5vh 0;
}

.accept, .decline, .request {
  color: #fff;
  border-radius: 5px;
  min-width: 70px !important;
  max-width: 70px !important;
  padding: 0;
}

.accept {
  background-color: #00a200;
  border-color: #188801;
}

.decline {
  background-color: #ea0300;
  border-color: #c40400;
}

.potential-friends-list {
  li {
    margin: 5px 0;
  }
  .request.col {
    color: black; // FIXME change colors
    padding: 0;
  }
}

#friend-list-aside {
  width: auto;
  ul li {
    list-style: none;
    text-align: left;
    .col {
      padding-left: 0;
    }
  }
}

/* Format Devise's flash messages to appear like Bootstrap's */

.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-notice, .alert-error, .alert-success, .alert-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* Footer */

footer {
  display: inline-block !important;
  width: 100%;
  height: auto;
}

#footer {
  // TODO change position if needed
  position: static;
  margin-top: 110px;
  bottom: 0;
  border-top: 1px solid $footer-border;
  a {
    color: $text-light-grey;
    &:hover {
      color: $text-darker-grey;
      text-decoration: none;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.github-icon {
  width: 16px;
  height: 16px;
  fill: $text-light-grey;
  &:hover {
    fill: $text-darker-grey;
  }
}

/* Misc */

.noscript {
  text-align: center;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 60px;
  background-color: #EEE;
  font-size: small;
}
