/* Variables */

$navbar-links: white;
$navbar-background-color-dark: #36393e;

/* Header */

.navbar .navbar-nav .nav-item .nav-link {
  color: $navbar-links;
}

.navbar .github-icon {
  width: 25px;
  height: 25px;
  fill: $navbar-links;
}

.navbar-dark {
  background-color: $navbar-background-color-dark;
}

/* Misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 60px;
  background-color: #EEE;
  font-size: small;
}