<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <%= link_to "https://github.com/ellielle/dexfinder" do %>
            <%= octicon "mark-github", class: "github-icon" %>
          <% end %>
        </li>
        <li><%= link_to "TESTING", root_url %></li>
      </ul>
    </nav>
  </div>
</footer>