<footer id="footer">
  <div class="container-fluid">
    <nav>
      <%= link_to "DEXFINDER", root_url, class: "footer-home" %>
      <ul>
        <li>
          <%= link_to "https://github.com/ellielle/dexfinder" do %>
            <%= octicon "mark-github", class: "github-icon" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</footer>
